<h1>Send in user info here:</h1>

<form  style="color: white; padding-left: 5%;" method="POST" action="/">
      First Name: <input name="fname"><br><br><hr><br>
      Last Name: <input name="lname"><br><br><hr><br>
      Email: <input name="email"><br><br><hr><br>
      Avatar Pic URL: <input name="picurl"><br><br><hr><br>
      Birthday: <input name="bday"><br><br><hr><br>
      Tweet Something: <input name="tweet"><br><br><hr><br>
      Facebook: <input name="fb"><br><br><hr><br>
      <input type="submit">
</form>