<!DOCTYPE html>
<html>
  <head>
    <title>Tony's App</title>
     <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"> 
    <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>